In [3]:
import pyspark
from pyspark import SparkContext, SparkConf
sc = SparkContext.getOrCreate()

In [33]:
notas_ingles = sc.textFile('Notas_Ingles.txt')
pairs_ingles= notas_ingles.map(lambda x: (x.split(',')[0], int(x.split(',')[1])))
pairs_ingles.collect()

[('Angel', 4),
 ('Maria', 6),
 ('Ramon', 8),
 ('Jorge', 5),
 ('Susana', 2),
 ('Anabel', 7),
 ('Rocio', 4),
 ('Carlos', 8),
 ('Triana', 4),
 ('Andres', 6),
 ('Fernando', 7),
 ('Leonardo', 4),
 ('Oscar', 3),
 ('Isabel', 7),
 ('Jose Juan', 3),
 ('Nicolas', 5),
 ('Alejandro', 7),
 ('Rosa', 9)]

In [44]:
notas_mates = sc.textFile('Notas_Mates.txt')
pairs_mates= notas_mates.map(lambda x: (x.split(',')[0], float(x.split(',')[1])))
pairs_mates.collect()

[('Angel', 6.0),
 ('Maria', 2.0),
 ('Ramon', 4.5),
 ('Jorge', 10.0),
 ('Susana', 9.0),
 ('Anabel', 8.0),
 ('Pedro', 5.0),
 ('Rocio', 6.0),
 ('Carlos', 4.0),
 ('Triana', 3.0),
 ('Andres', 4.0),
 ('Fernando', 5.0),
 ('Leonardo', 1.0),
 ('Oscar', 7.0),
 ('Isabel', 8.0),
 ('Jose Juan', 5.0),
 ('Nicolas', 2.0),
 ('Alejandro', 5.0),
 ('Rosa', 6.0)]

In [39]:
notas_fisica = sc.textFile('Notas_Fisica.txt')
pairs_fisica= notas_fisica.map(lambda x: (x.split(',')[0], int(x.split(',')[1])))
pairs_fisica.collect()

[('Angel', 9),
 ('Maria', 3),
 ('Ramon', 7),
 ('Jorge', 5),
 ('Susana', 9),
 ('Anabel', 2),
 ('Pedro', 2),
 ('Rocio', 5),
 ('Carlos', 4),
 ('Rocio', 7),
 ('Triana', 3),
 ('Andres', 4),
 ('Fernando', 9),
 ('Leonardo', 6),
 ('Oscar', 5),
 ('Isabel', 8),
 ('Jose Juan', 3),
 ('Nicolas', 7),
 ('Alejandro', 3),
 ('Rosa', 8)]

In [45]:
rdd_completo = pairs_ingles.union(pairs_fisica).union(pairs_mates)
rdd_completo.collect()

[('Angel', 4),
 ('Maria', 6),
 ('Ramon', 8),
 ('Jorge', 5),
 ('Susana', 2),
 ('Anabel', 7),
 ('Rocio', 4),
 ('Carlos', 8),
 ('Triana', 4),
 ('Andres', 6),
 ('Fernando', 7),
 ('Leonardo', 4),
 ('Oscar', 3),
 ('Isabel', 7),
 ('Jose Juan', 3),
 ('Nicolas', 5),
 ('Alejandro', 7),
 ('Rosa', 9),
 ('Angel', 9),
 ('Maria', 3),
 ('Ramon', 7),
 ('Jorge', 5),
 ('Susana', 9),
 ('Anabel', 2),
 ('Pedro', 2),
 ('Rocio', 5),
 ('Carlos', 4),
 ('Rocio', 7),
 ('Triana', 3),
 ('Andres', 4),
 ('Fernando', 9),
 ('Leonardo', 6),
 ('Oscar', 5),
 ('Isabel', 8),
 ('Jose Juan', 3),
 ('Nicolas', 7),
 ('Alejandro', 3),
 ('Rosa', 8),
 ('Angel', 6.0),
 ('Maria', 2.0),
 ('Ramon', 4.5),
 ('Jorge', 10.0),
 ('Susana', 9.0),
 ('Anabel', 8.0),
 ('Pedro', 5.0),
 ('Rocio', 6.0),
 ('Carlos', 4.0),
 ('Triana', 3.0),
 ('Andres', 4.0),
 ('Fernando', 5.0),
 ('Leonardo', 1.0),
 ('Oscar', 7.0),
 ('Isabel', 8.0),
 ('Jose Juan', 5.0),
 ('Nicolas', 2.0),
 ('Alejandro', 5.0),
 ('Rosa', 6.0)]

In [46]:
rdd_completo.groupByKey().collect()

[('Fernando', <pyspark.resultiterable.ResultIterable at 0x7f6b06314b38>),
 ('Angel', <pyspark.resultiterable.ResultIterable at 0x7f6b06314a20>),
 ('Rocio', <pyspark.resultiterable.ResultIterable at 0x7f6b06314d30>),
 ('Carlos', <pyspark.resultiterable.ResultIterable at 0x7f6b063148d0>),
 ('Oscar', <pyspark.resultiterable.ResultIterable at 0x7f6b06314b70>),
 ('Alejandro', <pyspark.resultiterable.ResultIterable at 0x7f6b06314cf8>),
 ('Isabel', <pyspark.resultiterable.ResultIterable at 0x7f6b06314668>),
 ('Nicolas', <pyspark.resultiterable.ResultIterable at 0x7f6b06314c18>),
 ('Leonardo', <pyspark.resultiterable.ResultIterable at 0x7f6b06314908>),
 ('Ramon', <pyspark.resultiterable.ResultIterable at 0x7f6b063144a8>),
 ('Pedro', <pyspark.resultiterable.ResultIterable at 0x7f6b06314c88>),
 ('Anabel', <pyspark.resultiterable.ResultIterable at 0x7f6b06305240>),
 ('Jose Juan', <pyspark.resultiterable.ResultIterable at 0x7f6b06305518>),
 ('Jorge', <pyspark.resultiterable.ResultIterable at 0x7f6b063050f0>),
 ('Triana', <pyspark.resultiterable.ResultIterable at 0x7f6b06313b00>),
 ('Susana', <pyspark.resultiterable.ResultIterable at 0x7f6b06305400>),
 ('Rosa', <pyspark.resultiterable.ResultIterable at 0x7f6b06313ef0>),
 ('Andres', <pyspark.resultiterable.ResultIterable at 0x7f6b06313c18>),
 ('Maria', <pyspark.resultiterable.ResultIterable at 0x7f6b06313a90>)]

In [47]:
rdd_completo.reduceByKey(lambda x,y:min(x,y)).collect()

[('Fernando', 5.0),
 ('Angel', 4),
 ('Rocio', 4),
 ('Carlos', 4),
 ('Oscar', 3),
 ('Alejandro', 3),
 ('Isabel', 7),
 ('Nicolas', 2.0),
 ('Leonardo', 1.0),
 ('Ramon', 4.5),
 ('Pedro', 2),
 ('Anabel', 2),
 ('Jose Juan', 3),
 ('Jorge', 5),
 ('Triana', 3),
 ('Susana', 2),
 ('Rosa', 6.0),
 ('Andres', 4),
 ('Maria', 2.0)]

In [77]:
rdd_completo.reduceByKey(add).map(lambda x: (x[0],x[1]/3)).collect()

[('Fernando', 7.0),
 ('Angel', 6.333333333333333),
 ('Rocio', 7.333333333333333),
 ('Carlos', 5.333333333333333),
 ('Oscar', 5.0),
 ('Alejandro', 5.0),
 ('Isabel', 7.666666666666667),
 ('Nicolas', 4.666666666666667),
 ('Leonardo', 3.6666666666666665),
 ('Ramon', 6.5),
 ('Pedro', 2.3333333333333335),
 ('Anabel', 5.666666666666667),
 ('Jose Juan', 3.6666666666666665),
 ('Jorge', 6.666666666666667),
 ('Triana', 3.3333333333333335),
 ('Susana', 6.666666666666667),
 ('Rosa', 7.666666666666667),
 ('Andres', 4.666666666666667),
 ('Maria', 3.6666666666666665)]

In [52]:
pairs_mates.subtractByKey(pairs_ingles).collect()

[('Pedro', 5.0)]

In [10]:
rdd_completo.countByKey()

defaultdict(int,
            {'Alejandro': 3,
             'Anabel': 3,
             'Andres': 3,
             'Angel': 3,
             'Carlos': 3,
             'Fernando': 3,
             'Isabel': 3,
             'Jorge': 3,
             'Jose Juan': 3,
             'Leonardo': 3,
             'Maria': 3,
             'Nicolas': 3,
             'Oscar': 3,
             'Pedro': 2,
             'Ramon': 3,
             'Rocio': 4,
             'Rosa': 3,
             'Susana': 3,
             'Triana': 3})

In [59]:
pairs_ingles.filter(lambda x: x[1]<5).count()

7

In [60]:
pairs_mates.filter(lambda x: x[1]<5).count()

7

In [61]:
pairs_fisica.filter(lambda x: x[1]<5).count()

8

In [63]:
rdd_completo.filter(lambda x: x[1]>=7).countByKey()

defaultdict(int,
            {'Alejandro': 1,
             'Anabel': 2,
             'Angel': 1,
             'Carlos': 1,
             'Fernando': 2,
             'Isabel': 3,
             'Jorge': 1,
             'Nicolas': 1,
             'Oscar': 1,
             'Ramon': 2,
             'Rocio': 1,
             'Rosa': 2,
             'Susana': 2})